@charset "UTF-8";
/* line 1, style2.scss */
html, body, h1, h2, h3, section, form, label, textarea, input {
  padding: 0;
  margin: 0;
  font-family: Inconsolata, monospace;
}

/*speciella grejer för att få min overlay*/
/*html {
    height: 100%;
}*/
/*body {
    min-height: 100%;
    position: relative;
}*/
/*speciella grejer slutar här*/
/* line 21, style2.scss */
h1 {
  font-size: 1.6em;
  padding: 10px;
  text-align: center;
}

/* line 27, style2.scss */
.some-text {
  display: flex;
  justify-content: center;
}
/* line 30, style2.scss */
.some-text span {
  color: red;
  cursor: pointer;
}
/* line 33, style2.scss */
.some-text span:hover {
  text-decoration: underline;
}

/* line 39, style2.scss */
form {
  width: 80%;
}
/* line 41, style2.scss */
form label {
  display: block;
}
/* line 44, style2.scss */
form textarea {
  width: 100%;
  resize: vertical;
}
/* line 48, style2.scss */
form input {
  width: 99.20%;
}

/* line 54, style2.scss */
.key {
  display: block;
}

/* line 58, style2.scss */
.input-fields {
  margin: 10px auto 0 auto;
  max-width: 25%;
  border-style: solid;
  border-width: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4% 0;
}

/* line 69, style2.scss */
.button {
  width: 73px;
}

/* line 73, style2.scss */
.encrypt-button {
  margin-bottom: 3px;
}

/* line 77, style2.scss */
.message-label {
  margin-bottom: 3px;
}

/* line 81, style2.scss */
.btn-div {
  width: 80%;
  padding-top: 2%;
}

/*.user-key {
    display: inline;
}*/
/*.encrypt-button, .decrypt-button {
    margin: 5px 0px 5px 0px;
}*/
/* line 95, style2.scss */
.output-area {
  display: none;
  margin: 0 auto;
  max-width: 25%;
  border-style: solid;
  border-width: 0 2px 2px 2px;
}

/* line 103, style2.scss */
.output-area-active {
  white-space: pre;
  padding: 1% 0;
  font-size: 1.2em;
}

/* line 112, style2.scss */
.modal-overlay,
.modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s;
  position: absolute;
}

/* line 120, style2.scss */
.modal-overlay-active-transition,
.modal-active-transition {
  opacity: 1;
}

/* line 125, style2.scss */
.modal-overlay-active {
  visibility: visible;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

/* line 136, style2.scss */
.modal-active {
  visibility: visible;
  width: 340px;
  height: 255px;
  position: fixed;
  top: 17%;
  /*
      left: 50%;
      margin-top: -100px;
      margin-left: -150px;
  */
  background-color: #f1c40f;
  border-radius: 5px;
  z-index: 11;
}

/* line 152, style2.scss */
.modal-header {
  display: flex;
  justify-content: space-between;
  margin: 3px 5px 0;
}
/* line 156, style2.scss */
.modal-header h3 {
  padding-top: 2px;
  font-weight: bolder;
}

/* line 162, style2.scss */
.modal-content {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
}
/* line 169, style2.scss */
.modal-content p {
  font-size: 14px;
  margin: 33px 11px 0 11px;
}
/* line 173, style2.scss */
.modal-content ul {
  -webkit-padding-start: 20px;
  -webkit-margin-after: 0;
}

/* line 179, style2.scss */
.modal-close-btn {
  padding: 1px 2px;
  background-color: gainsboro;
  border: 0;
  border-radius: 4px;
  line-height: 20px;
  width: 20px;
  text-align: center;
}

/* line 189, style2.scss */
.modal-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 11;
}

@media screen and (max-width: 420px) {
  /* line 198, style2.scss */
  .input-fields, .output-area {
    max-width: 80%;
  }
}
