html, body, h1, h2, h3, section, form, label, textarea, input {
    padding: 0;
    margin: 0;
    font-family: Inconsolata, monospace;
}

/*speciella grejer för att få min overlay*/

/*html {
    height: 100%;
}*/

/*body {
    min-height: 100%;
    position: relative;
}*/

/*speciella grejer slutar här*/


h1 {
    font-size: 1.6em;
    padding: 10px;
    text-align: center;
}

.some-text {
  display: flex;
  justify-content: center;
  span {
    color: red;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

form {
  width: 80%;
  label {
    display: block;
  }
  textarea {
    width: 100%;
    resize: vertical;
  }
  input {
    width: 99.20%;
  }
}


.key {
  display: block;
}

.input-fields {
    margin: 10px auto 0 auto;
    max-width: 25%;
    border-style: solid;
    border-width: 2px;
    /*text-align: center;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 0;
    // position: relative;
}

.message-label {
  margin-bottom: 3px;
}

.btn-div {
  width: 80%;
  padding-top: 2%;
}

/*.user-key {
    display: inline;
}*/

/*.encrypt-button, .decrypt-button {
    margin: 5px 0px 5px 0px;
}*/


.output-area {
    display: none;
    margin: 0 auto;
    max-width: 25%;
    border-style: solid;
    border-width: 0 2px 2px 2px;
}

.output-area-active {
    white-space: pre;
    padding: 1% 0;
    font-size: 1.2em;
    // display: flex;
    // justify-content: center;
}

// Modal
.modal-overlay,
.modal {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
    position: absolute;
}

.modal-overlay-active-transition,
.modal-active-transition {
    opacity: 1;
}

.modal-overlay-active {
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 10;
}

.modal-active {
    visibility: visible;
    width: 340px;
    height: 255px;
    position: fixed;
    top: 17%;
/*
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
*/
    background-color: #f1c40f;
    border-radius: 5px;
    z-index: 11;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin: 3px 5px 0;
    h3 {
      padding-top: 2px;
      font-weight: bolder;
    }
}

.modal-content {
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  p {
    font-size: 14px;
    margin: 33px 11px 0 11px;
  }
  ul {
    -webkit-padding-start: 20px;
    -webkit-margin-after: 0;
  }
}

.modal-close-btn {
    padding: 1px 2px;
    background-color: gainsboro;
    border: 0;
    border-radius: 4px;
    line-height: 20px;
    width: 20px;
    text-align: center;
}

.modal-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 11;
}

// Media queries
@media screen and (max-width: 420px) {
  .input-fields, .output-area {
    max-width: 80%;
  }
}
