html, body, h1, h2, h3, section, form, label, textarea, input {
    padding: 0;
    margin: 0;
    font-family: Inconsolata, monospace;
} 

/*speciella grejer för att få min overlay*/

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
}

/*speciella grejer slutar här*/


h1 {
    padding: 10px;
    text-align: center;
}

.some-text {
    width: 400px;
    margin: 0 auto;  
}

.some-text span {
    color: red;
    cursor: pointer;
}

.some-text span:hover {
    text-decoration: underline;
}

label {
  display: block;
}

.key {
  display: block;
}

.input-fields {
    margin: 10px auto 0 auto;
    width: 200px;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}

.user-key {
    display: inline;
}

.encrypt-button, .decrypt-button {
    margin: 5px 0px 5px 0px;
}


.output-area {                        /* här är det i mitten av skärmen */
    display: none;
    margin: 0 auto;
    width: 56px;
    border-style: solid;
    border-width: 0 2px 2px 2px;
}

.output-area-active {
    white-space: pre;
    text-align: justify;
    padding: 10px 72px 10px 72px;
}

/*Testar en modal*/

.modal-overlay,
.modal {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.modal-overlay-active,
.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-overlay-active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.modal-active {
    width: 300px;
    height: 200px;
    position: fixed;
    top: 50%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    background-color: #f1c40f;
    border-radius: 5px;
    z-index: 11;
}
